<div id="shopify-section-template--19320062640424__recommendations"
     class="shopify-section section-product-recommendations">
    <div class="product-recommendations"
         data-section-id="template--19320062640424__recommendations"
         data-url="/recommendations/products?section_id=template--19320062640424__recommendations&limit=4&product_id=8013488062760"
         data-components="accordion,modal"
         data-cc-animate>
    </div>
</div>