<div id="shopify-section-{{ body.section|e }}"
     class="shopify-section section-product-recommendations">
    <div class="product-recommendations"
         data-section-id="{{ body.section|e }}"
         data-url="{{ uri|e }}"
         data-components="accordion,modal"
         data-cc-animate>
    </div>
</div>